.intro{
    background-image: linear-gradient(to right, rgba(0,0,0,.8),rgba(0,0,0,.8)) ,url('../../media/cover.jpg');
    background-position: center;
    background-size: cover;
    min-height: calc(80vh - 74px);
    width: 100%;
    padding: 1rem;
}

.intro__content {
    max-width: 1000px;
}

.intro__heading {
    font-size: 4rem;
}